* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html, body {
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
  background-color: #eee;
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
}
h1, h2 {
  font-weight: normal;
}
button {
  font: inherit;
  background-color: #1070cf;
  color: #fff;
  border: none;
  padding: 0.25em 0.75em;
  border-radius: 0.24em;
  font-size: 1.2em;
  text-transform: uppercase;
}
button:hover {
  background-color: #0e64ba;
}
button.has-icon {
  display: flex;
  align-items: center;
}
button.has-icon svg {
  margin-left: 0.5em;
  font-size: 0.8em;
}

#root {
  display: flex;
  justify-content: center;
  width: 100%;
}
.app {
  width: 50%;
  margin: 5em 0;
}
@media(max-width: 800px) {
  .app {
    width: 80%;
  }
}

.header {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 1em;
}
.header h1 {
  color: #0e64ba;
  font-size: 2.5em;
}
.header p {
  color: #888;
  margin: 0.3em 0 0.5em;
}
.header p a {
  color: #888;
  text-decoration: none;
  border-bottom: 1px solid #888;
}
.header p a:hover {
  color: #0e64ba;
  border-bottom: 1px solid #0e64ba;
}

.card {
  background-color: #fff;
  padding: 1em;
  border-radius: 0.25em;
  width: 100%;
  text-align: center;
  margin-bottom: 1em;
}
.card h2 {
  font-size: 2em;
  line-height: 1.2;
  color: #333;
}
.card h2 span {
  display: block;
  font-size: 0.5em;
  line-height: 3em;
  color: #888;
}

.buttons {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.social-buttons, .app-buttons {
  display: flex;
}
.social-buttons div + div {
  margin-left: 0.5em;
}
.app-buttons button + button {
  margin-right: 0.5em;
}
.social-buttons a {
  color: #888;
  text-decoration: none;
  font-size: 2em;
}
.social-buttons a:hover {
  color: #0e64ba;
}
