:root {
  --app-background: #eee;
  --button-background: #1070cf;
  --button-hover-background: #0e64ba;
  --header-heading-color: #0e64ba;
  --header-paragraph-color: #888;
  --header-paragraph-link-color: #888;
  --header-paragraph-link-hover-color: #0e64ba;
  --card-background-color: #fff;
  --card-advice-color: #333;
  --social-button-color: #888;
  --social-button-hover-color: #0e64ba;
}
[data-theme='dark'] {
  --app-background: #001;
  --button-background: #121223;
  --button-hover-background: #1A1A2B;
  --header-heading-color: #ddd;
  --header-paragraph-color: #555;
  --header-paragraph-link-color: #555;
  --header-paragraph-link-hover-color: #888;
  --card-background-color: #00001D;
  --card-advice-color: #ddd;
  --social-button-color: #555;
  --social-button-hover-color: #888;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html, body {
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
  min-height: 100vh;
  min-width: 100vw;
  display: flex;
  justify-content: center;
}
h1, h2 {
  font-weight: normal;
}
button {
  font: inherit;
  background-color: var(--button-background);
  color: #fff;
  border: none;
  padding: 0.25em 0.75em;
  border-radius: 0.24em;
  font-size: 1.2em;
  text-transform: uppercase;
  cursor: pointer;
}
button:hover {
  background-color: var(--button-hover-background);
}
button.has-icon {
  display: flex;
  align-items: center;
}
button.has-icon svg {
  margin-left: 0.5em;
  font-size: 0.8em;
}

.mode-switcher {
  position: fixed;
  display: flex;
  align-items: center;
  height: 2em;
  top: 0.5em;
  left: 0.5em;
}
.mode-switcher p {
  margin-left: 4.5em;
  color: #888;
}
.switcher {
  position: absolute;
  cursor: pointer;
  border-radius: 2em;
  background-color: #ccc;
  width: 4em;
  bottom: 0;
  left: 0;
  right: 0;
  top: 0;
  transition: 0.4s;
}
.switcher::before {
  content: "";
  position: absolute;
  background-color: #fff;
  border-radius: 50%;
  transition: 0.4s;
  bottom: 0.2em;
  height: 1.6em;
  width: 1.6em;
  left: 0.2em;
}
[data-theme="dark"] .switcher {
  background-color: #66bb6a;
}
[data-theme="dark"] .switcher::before {
  transform: translateX(2em);
}

#root,
.app {
  display: flex;
  justify-content: center;
  width: 100%;
  height: 100%;
}
.app {
  background-color: var(--app-background);
}
.content{
  width: 50%;
  margin: 5em 0;
}
@media(max-width: 800px) {
  .app {
    width: 80%;
  }
}

.header {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 1em;
}
.header h1 {
  color: var(--header-heading-color);
  font-size: 2.5em;
}
.header p {
  color: var(--header-paragraph-color);
  margin: 0.3em 0 0.5em;
}
.header p a {
  color: var(--header-paragraph-link-color);
  text-decoration: none;
  border-bottom: 1px solid var(--header-paragraph-link-color);
}
.header p a:hover {
  color: var(--header-paragraph-link-hover-color);
  border-bottom: 1px solid var(--header-paragraph-link-hover-color);
}

.card {
  background-color: var(--card-background-color);
  padding: 1em;
  border-radius: 0.25em;
  width: 100%;
  text-align: center;
  margin-bottom: 1em;
}
.card h2 {
  font-size: 2em;
  line-height: 1.2;
  color: var(--card-advice-color);
}
.card h2 span {
  display: block;
  font-size: 0.5em;
  line-height: 3em;
  color: #888;
}

.buttons {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.social-buttons, .app-buttons {
  display: flex;
}
.social-buttons div + div {
  margin-left: 0.5em;
}
.app-buttons button + button {
  margin-right: 0.5em;
}
.social-buttons a {
  display: flex;
  color: var(--social-button-color);
  text-decoration: none;
  font-size: 2em;
}
.social-buttons a:hover {
  color: var(--social-button-hover-color);
}
